# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.temp
*~
*.sass-cache
composer.lock
install.log
cities.mmdb
countries.mmdb
*.DS_Store


# CMS Specifics


# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.map

*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
dist
npm-debug.log
app/uploads/
app/cache/
app/assets/media/
error_log
app/plugins/**/vendor
public/backend
public/img/generated
public/uploads
public/sounds/tweets
wp-config.php