section.home{
	.home__projects{
		@include clearfix;
		background-color: black;
		position: relative;
		overflow: hidden;
		.overlay{
			opacity: 0;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: black;
			transition: opacity 1s ease;
			&.is-open{
				opacity: 0.8;
				z-index: 100;
			}
		}
		.grid{
			width: 100%;
			float: right;
			display: flex;
			flex-wrap: wrap;
			margin: 0 -2px;
			@media #{$tablet}{
				width: 100%;
			}
			.grid__item{
				cursor: pointer;
				width: 25%;
				background-color: black;
				position: relative;
				overflow: hidden;
				display: inline-table;
				&:hover, &:focus{
					.screen{
						background-color: rgba(0,0,0,0.8);
					}
				}
				@media #{$middle}{
					width: 50%;
				}
				.image{
					display: table;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
				.screen{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 5;
					background-color: rgba(0,0,0,0);
					transition: background-color .70s ease;
				}
			}
		}
		.panel{
			position: fixed;
			top: 0;
			right: 0;
			width: 50%;
			z-index: 110;
			padding: $pad * 2;
			transform: translateX(100%);
			transition: all $time ease;
			&.is-open{
				transform: translateX(0);
			}
			&__content{
				box-shadow: inset 0 0 0 $pad $green;
				padding: $pad * 2;
				background-color: white;
				h2{
					font-size: 25px;
				}
				.image{
					padding: $pad 0;
					.screen{
						position: relative;
						.window{
							transition: background-color $time ease;
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(53,115,95,0);
							max-height: 400px;
							overflow: hidden;
							&:hover, &:focus{
								background-color: rgba(53,115,95,0.5);
							}
						}
						img{
							width: 100%;
						}
					}
				}
			}
		}
	}
}

