// Work Sans Extra Bold
@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: 	url('fonts/WorkSans-ExtraBold.eot?#iefix') format('embedded-opentype'),  
		url('fonts/WorkSans-ExtraBold.woff') format('woff'), 
		url('fonts/WorkSans-ExtraBold.ttf')  format('truetype'), 
		url('fonts/WorkSans-ExtraBold.svg#WorkSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$workeb: 'WorkSans-ExtraBold';

