// Layout
$pad: 		20px;
$time:		.35s;

// Font Size
$h1: 		40px;
$h1-tab:	24px;
$h1-mob:	20px;

$caption:		80px;
$caption-mob:	45px;

$cell: 			"only screen and (max-width:480px)";
$mobile: 		"only screen and (max-width:768px)";
$tablet:  		"only screen and (max-width:1024px)";
$middle:  		"only screen and (max-width:1200px)";
$desktop:  		"only screen and (min-width:1025px)";

$green:		#35735f;