@font-face {
    font-family: 'arima_madurairegular';
    src: url('fonts/arimamadurai-regular-webfont.woff2') format('woff2'),
         url('fonts/arimamadurai-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_maduraibold';
    src: url('fonts/arimamadurai-bold-webfont.woff2') format('woff2'),
         url('fonts/arimamadurai-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_madurailight';
    src: url('fonts/arimamadurai-light-webfont.woff2') format('woff2'),
         url('fonts/arimamadurai-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_maduraimedium';
    src: url('fonts/arimamadurai-medium-webfont.woff2') format('woff2'),
         url('fonts/arimamadurai-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}