// Media Queries settings
// -------------------------

$cell:              	"only screen and (max-width:480px)";
$mobile:              	"only screen and (max-width:768px)";
$tablet:                "only screen and (max-width:1024px)";
$desktop:               "only screen and (min-width:1025px)";
$largeDesktop:          "only screen and (min-width:1400px)";

// Brand colors
// -------------------------



// Transition
// -------------------------

$time: 		0.35s;

// Fonts
// -------------------------

$arr:	 	'arima_madurairegular' !default;
$arb:	 	'arima_maduraibold';
$arx:	 	'arima_maduraiextrabold';
$arm:	 	'arima_maduraimedium';
$arl:	 	'arima_madurailight';



